<footer class="text-center">
    <p>Give a HOOT about your health!</p>
    <p>HOOT is built with ♥️ and maintained by <a href="https://github.com/ejherzog" target="_blank" rel="noopener noreferrer">ejherzog</a>.</p>
</footer>