<nav class="navbar navbar-dark bg-primary navbar-expand">
    <div class="container"><a class="navbar-brand" href="/">🦉 HOOT</a>
      <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
        <li class="nav-item"><a class="nav-link" href="/shortcuts"><span>Shortcuts</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/daily"><span>Daily</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/add"><span>Add</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/retro"><span>Retro</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/chart"><span>Chart</span></a></li>
        </ul>
  </div>
  </nav>