
<nav class="navbar navbar-dark bg-info navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="/">🦉 HOOT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
        <li class="nav-item"><a class="nav-link text-light" href="/shortcuts"><span>Shortcuts</span></a></li>
        <li class="nav-item"><a class="nav-link text-light" href="/daily"><span>Daily</span></a></li>
        <li class="nav-item"><a class="nav-link text-light" href="/add"><span>Add</span></a></li>
        <li class="nav-item"><a class="nav-link text-light" href="/retro"><span>Retro</span></a></li>
        <li class="nav-item"><a class="nav-link text-light" href="/charts"><span>Charts</span></a></li>
        <li class="nav-item"><a class="nav-link text-light" href="/all"><span>All Data</span></a></li>
      </ul>
    </div>
  </div>
</nav>